<!DOCTYPE html>
{%  load static  %}
<html>
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"  />
</head>
<body>

<div class="todos">
    <div class="header">
        <div class="header__text">todos</div>
    </div>

    <div class="todo-main-part">
        <div class="todo-main-part__center-items">
            <div class="todo-input todo-main-part_style todo-input__item_center">
                <div class="input__icon"><img class="icon" src="{% static 'icons/select-all.png' %}"></div>
                <form  class="input-field__form form-new-task" method="POST" id="post-form">
                    {% csrf_token %}
                    <input id="content" name="content" class="todo-input__input-field input-field text" type="text" placeholder="What needs to be done?"/>
                </form>
            </div>

            <div class="todo-list">
                <ul class="todo-list-checkbox">
                    {% for t in task %}
                    <li class="todo-list__item todo-list__item_style {{t.status}}">
                        <label class="checkbox__label todo-list__checkbox-label" for="id{{t.id}}">
                            <input class="checkbox todo-list__checkbox" type="checkbox" id="id{{t.id}}" value="no"/>
                            <form class="input-field__form form-old-task" method="post">
                                {% csrf_token %}
                                <input data-id ='{{t.id}}' name="text" class="todo-list__text input-field text" type="text" value="{{t.content}}"/>
                            </form>
                        </label>
                        <button data-id ='{{t.id}}'  class="button todo-list__delete-button todo-list__delete-button_hover">
                            <img data-id ='{{t.id}}' class="icon" src="{% static 'icons/close.png' %}">
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>


            <div class="footer" id="footer">
                <span class="counter footer-text_style" id="counter">
                    3 items left
                </span>
                <span class="footer__buttons button_centre" id="task_types">
                    <button class="button task-button footer-button_focus-border footer-text_style current-task-type" id="all">All</button>
                    <button class="button task-button footer-button_focus-border footer-text_style" id="active">Active</button>
                    <button class="button task-button footer-button_focus-border footer-text_style" id="completed">Completed</button>
                </span>
                <span class="footer__buttons button_right">
                    <button class="button footer-button_active-border footer-text_style" id="button_clear">Clear completed</button>
                </span>
            </div>
        </div>

    </div>
</div>
</div>

</body>
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/task_types.js"></script>
<script src="/static/js/check_completed_tasks.js"></script>
<script src="/static/js/drop_down_list.js"></script>
<script src="/static/js/scrollbar.js"></script>
<script src="/static/js/add_task.js"> </script>
<script src="/static/js/task_counter.js"></script>
<script src="/static/js/delete_task.js"></script>

<script>

    //Добавление задачи
    $('#post-form').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "create" %}',
            data:{
                content:$('#content').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            dataType: 'json',
            success:function(json){
                addTask(json.id)
            },
            error : function(xhr,errmsg,err) {

                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
    //Удаление задачи
    $('.todo-list__delete-button').click( deleteTask );
    function deleteTask(e) {

        const tr = $(this).closest('li');
        const id = e.target.dataset.id;

        $.ajax({
            type:'POST',
            url:'{% url "delete" %}',
            data:{
                id:id,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'delete'
            },
            dataType: 'json',
            success:function(){
                tr.remove();
            },
            error : function(xhr,errmsg,err) {
                alert(id)
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

    }
    //Удаление выполненных задач
    $('#button_clear').click(function (e) {
        $.ajax({
            type:'POST',
            url:'{% url "clear" %}',
            data:{
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success:function(){
                clearCompletedTask();
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
    //Изменение текста задачи
    $('.form-old-task').submit(changeTaskContent);
    function changeTaskContent(e){
        e.preventDefault();
        const id = e.currentTarget[1].getAttribute('data-id');
        const content = e.currentTarget[1].value;
        $.ajax({
            type:'POST',
            url:'{% url "change_task_content" %}',
            data:{
                id: id,
                content: content,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success: function(){
            },
            error : function(xhr,errmsg,err) {

                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }
    //Изменение статуса задачи
    $('.todo-list__checkbox-label').click(changeStatus);
    function changeStatus(e){
        e.preventDefault();
        const trgtClass = e.target.classList;
        if(trgtClass.contains('input-field__form')||trgtClass.contains('todo-list__text')) return false;
        const id = e.currentTarget.htmlFor.split('d');
        $.ajax({
            type:'POST',
            url:'{% url "change_status" %}',
            data:{
                id: id[1],
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success: function(){
                changeTaskStatus(e);
            },
            error : function(xhr,errmsg,err) {

                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }

</script>
</html>