.footer{
    height: 25px;
    border-top: 1px solid whitesmoke;
    padding: 5px 1px 5px 1px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.button_centre {
    display: flex;
    justify-content: center;
}
.button_right{
    display: flex;
    justify-content: flex-end;
}



/*.footer-button_border:active{
    border: 1px solid #b3b3b3;
}*/
.footer-button_border:focus{
    border: 1px solid #b3b3b3;
}

.footer-text_style{
    font-size: 15px;
    font-family: "Times New Roman";
    color: #888888;
    display: flex;
    justify-content: flex-start;
}