
.todo-main-part__center-items{
    border: 1px solid whitesmoke;
    box-shadow: 0 0 5px lightgray;
    height: 400px;
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 60px 300px 40px;
}
