
.todo-list__item {
    display: grid;
    grid-template-columns: auto 35px;
}


.todo-list-checkbox{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.checkbox__label{
    position: relative;
    padding-left: 30px;
    padding-top: 20px;
}

.checkbox__label:hover{
    cursor: pointer;
}
.checkbox__label::before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #efefef;
    left:0;
}

.checkbox:checked + .checkbox__label::before {
    background: url(../icons/completed.png);
    border: 2px solid #61c3b1;
}

.todo-list__item:hover{
    background: #fafafa;

}

.todo-list__item:hover .todo-list-delete-button_hover{
    visibility: visible;
    cursor:pointer;
}
.todo-list-delete-button_hover{
    visibility: hidden;
}

.todo-list__item_style{
    border-bottom: 1px solid #e6e6e6;
    height: 60px;
    padding-left: 15px;
}
.todo-list{
    overflow-y: hidden;
}
.scroll{
    overflow-y: auto;
}
.scroll::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 10px;
}
.todo-list.close{
    display: none;
}
.todo-list__text{
    width: 100%;
}
