.todo-list{
    display: grid;
    grid-template-columns: 30px auto 30px;
}
.todo-list-checkbox{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.todo-list__label{
    position: relative;
    padding-left: 30px;

}
.todo-list__label::before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #ebdfdf;
    left:0;
}
.todo-list__checkbox{
    display: none;
}
.todo-list__checkbox:checked + .todo-list__label::before {
    background: url(../../icons/completed.png);
    border: 2px solid lightseagreen;
}

.todo-list__item:hover{
    background: whitesmoke;

}
.todo-list-button_img{
    /*position: absolute;*/
    width: 25px;
    height: 25px;
   /* right: 3px;*/
}
.todo-list__item:hover .todo-list-button_img{
    background: url(../../icons/close.png) center no-repeat;

}
.todo-list-task{
    display: grid;
    grid-template-rows: repeat(auto-fill, 35px);
}
.todo-list-delete-button{
    display: grid;
    grid-template-rows: repeat(auto-fit, 35px);
}

/*.todo-list__checkbox:checked + .todo-list__label{
    text-decoration: line-through;
    color: darkgrey;
}*/
