.todo-input__input-field::placeholder{
    font-style: italic;
    font-size: 18px;
    color: #dadada;

}


.todo-main-part_style{
    padding: 20px 0 0 15px;
    border-bottom: 1px solid #e6e6e6;
}
